body {
  background-color: salmon;
}

article {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  outline: 8px solid salmon;
  padding: 2%;

}

h1 {
  color: salmon;
}

div {
  background-color: white;
  width: 56%;
  height: 150%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

header {
  text-align: center;
}
